<!DOCTYPE html>
<html lang="en">

<head>

    <title>Question Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



</head>
<!-- body -->
<h1> Interview Experience </h1>
<body class="main-layout">
    <!-- loader  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'qadd' %}">Add Question</a>
      <a class="nav-item nav-link" href="{%url 'addexp' %}">Add Experience</a>
      <a class="nav-item nav-link " href="{%url 'showexp' %}">View Experience</a>
        <a class="nav-item nav-link" href="{%url 'questionlist' %}">Topics</a>
        {% if user.is_authenticated %}
             <a class="nav-item nav-link" href="{%url 'signout' %}">Logout</a>
             {% else %}
                 <a class="nav-item nav-link" href="{%url 'signin' %}">Login</a>
                  <a class="nav-item nav-link" href="{%url 'signup' %}">Signup</a>
                  {% endif %}
    </div>
  </div>
</nav>
    <section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      {% for i in list %}




          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-gray-700">{{ i.nameofperson }}</span>

            </div>
            <div class="md:flex-grow">

              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"> {{ i.typeofrole }}</h2>

              <p class="leading-relaxed">

              <b>  college : {{i.nameofcollege}} </b>
                <br>
                {{i.experience}} </p>

            </div>
         </div>
      {% endfor %}
    </div>
  </div>
</section>
</body>

</html>
